body {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}
#wrapper {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;

  width: 1px;
  height: 160px;

}
div {
  height: 13px;
  width: 13px;
  border: 2px solid rgba(37, 37, 37, 0.11);
  margin: 2.3px;
  border-radius: 4px;
}
input{
  padding: 6px 10px;
  border: 1px solid #c3c6d3;
  font-size: 16px;
  border-radius: 8px;
}
button{
  background-color: #2C974B;
  color:white;
  border: 1px solid #298545;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 500;

}
button:active {
  background-color: #46d46e;
}


.low-commit {
  background-color: rgb(132, 240, 132);
}
.average-commit {
  background-color: rgb(63, 177, 63);
}
.high-commit {
  background-color: rgb(24, 129, 24);
}
.more-than-average-commit {
  background-color: rgb(4, 80, 4);
}

.red {
  background-color: rgb(255, 0, 0);
}
